<article>
    <h1><LinkTo @route="map" @model={{@map}}>{{@map.name}}</LinkTo></h1>
    <p>
        Download map for turn <LinkTo @route="turn" @model={{@map}}>/turn/{{@map.turn_id}}</LinkTo>.
    </p>
    <p>
        Link to here should be <LinkTo @route="map" @model={{@map}}>{{@map.name}}</LinkTo>.
    </p>
</article>